@charset "utf-8";
/******************** 친구리스트 공통 css *********************/
#container {margin-top:55px;}
.frd_tap {position:relative; width:100%; height:40px; line-height:40px;}
.frd_tap > div {float:left; width:50%; height:100%; border-bottom:2px solid #4a4a4a; color:#777777; font-size:15px; font-weight:bold; text-align:center; cursor:pointer; box-sizing:border-box;}
.frd_tap .tap_on {background-color:#4a4a4a; color:#fff;}

.frd_slctdel_wrap {position:relative; width:100%; height:41px; padding:0 80px 0 30px; border-bottom:1px solid #d1d1d1; line-height:40px; box-sizing:border-box;}
.frd_slctdel_wrap .chk_slctdel {position:absolute; z-index:10; top:0; left:0; width:30px; height:100%; padding:10px 5px; box-sizing:border-box;}
.frd_slctdel_wrap p {position:relative; width:100%; height:100%; overflow:hidden; font-size:12px; font-weight:bold; text-overflow:ellipsis; white-space:nowrap;}
.frd_slctdel_wrap .btn_slctdel {position:absolute; z-index:10; top:5px; right:5px; width:70px; height:30px; color:#575757; font-size:14px; font-weight:bold; text-align:center; line-height:30px; cursor:pointer;}
.frd_slctdel_wrap .btn_slctdel:active {background:#f7f7f7;}
.frd_u {position:relative; width:100%; height:auto; background-color:#fff;}

.frd_u li {position:relative; width:100%; height:72px; border-bottom:1px solid #d1d1d1; box-sizing:border-box;}
.frd_u .frd_chk {position:absolute; top:0; left:0px; width:30px; height:71px; padding:25px 5px; box-sizing:border-box;}
.frd_u .photo_wrap {position:absolute; top:0; left:30px; width:71px; height:71px; padding:7px; box-sizing:border-box;}
.frd_u .photo_clip {width:100%; height:100%; overflow:hidden; border-radius:100%;}
.frd_u .photo_clip img {display:block; width:100%; height:100%;}
.frd_u .frd_txt {position:relative; width:100%; height:100%; color:#686868; font-size:14px; line-height:19px;}
.frd_u .fc_male, .frd_u .fc_female {width:100%; overflow:hidden; font-weight:bold; text-overflow:ellipsis; white-space:nowrap;}
.frd_u .frd_loca {width:100%; overflow:hidden; font-weight:bold; text-overflow:ellipsis; white-space:nowrap;}
.frd_u .frd_date {width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/******************** 토크룸 친구리스트 css ********************/
.frd_u .frd_talk_l {padding:7px 64px 7px 101px;}
.frd_u .btn_contact {position:absolute; top:12px; right:8px; width:47px; height:47px; border-radius:3px; opacity:0.9;}
.frd_u .btn_contact a {display:block; width:100%; height:100%; padding:6px 0px; color:#fff; font-size:15px; font-weight:bold; text-align:center; line-height:18px; box-sizing:border-box;}
@keyframes push {
50% {transform:scale(0.9);}
100% {transform:scale(1);}
}
@-webkit-keyframes push {
50% {-webkit-transform:scale(0.9);}
100% {-webkit-transform:scale(1);}
}
@-ms-keyframes push {
50% {-ms-transform:scale(0.9);}
100% {-ms-transform:scale(1);}
}
@-moz-keyframes push {
50% {-moz-transform:scale(0.9);}
100% {-moz-transform:scale(1);}
}
@-o-keyframes push {
50% {-o-transform:scale(0.9);}
100% {-o-transform:scale(1);}
}
.frd_u .btn_contact:active {animation:push 0.2s ease-in-out 1;-webkit-animation:push 0.2s ease-in-out 1; -o-animation:push 0.2s ease-in-out 1; -moz-animation:push 0.2s ease-in-out 1; -ms-animation:push 0.2s ease-in-out 1;}

/******************** 영상룸 친구리스트 css ********************/
.frd_u .frd_video_l {padding:7px 88px 7px 101px;}
.frd_u .btn_video {position:absolute; top:18px; right:5px; width:78px; height:34px; border-radius:17px; color:#fff; font-size:13px; font-weight:bold; text-align:center; line-height:34px; cursor:pointer;}
.frd_u .btn_video:active {top:19px;}
.frd_u .btn_video img {margin-right:2px; vertical-align:middle;}

/* 영상통화 레이어 */
.layer_box {position:absolute; z-index:10; top:50%; right:93px; width:160px; height:auto; margin-top:-75px; overflow:hidden; border-radius:5px; background-color:#fff; box-shadow:2px 2px 8px rgba(0,0,0,0.7);}
.layer_box > div {position:relative; width:100%; height:46px; border-bottom:1px solid #c9c9c9; line-height:46px;}
.layer_box > div > a {display:block; width:100%; height:100%; padding-left:60px; color:#707070; font-size:15px; font-weight:bold; box-sizing:border-box;}
.layer_box > div > a:active {background:rgba(0,0,0,0.05);}
.layer_box .layer_video {background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_layer_video.png") no-repeat 21px center; background-size:22px 22px;}
.layer_box .layer_reque {background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_layer_reque.png") no-repeat 24px center; background-size:18px 25px;}
.layer_box .layer_clse {border-bottom:0 none; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_layer_clse.png") no-repeat 27px center; background-size:12px 12px;}