@charset "utf-8";
/******************** 팝업 공통 css ********************/
.fc_purple {color:#7c86e9;}

/* 팝업 픽스 */
.pop_bg_modal {position:absolute; z-index:1000; width:100%; height:100%; background:rgba(0,0,0,.6);}
.pop_wrap {position:absolute; z-index:1000; top:50%; left:50%; width:92%; height:auto; overflow:hidden; border-radius:5px; background:#fff; box-shadow:1px 1px 8px rgba(0,0,0,0.7); transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}

/* 팝업 헤더 */
.pop_header {position:relative; width:100%; height:auto; border-radius:5px 5px 0 0;}
.pop_header h2 {width:100%; height:35px; margin:0; padding:0 15px; color:#fff; font-size:15px; line-height:35px; box-sizing:border-box;}

/* 팝업 하단 */
.pop_dn {position:relative; width:100%; height:auto; padding:0 13% 15px 13%; overflow:hidden; border-radius:0 0 5px 5px; background:#fff; box-sizing:border-box;}
.pop_dn .btn_white {float:left; width:50%; height:40px; padding-right:8px; box-sizing:border-box;}
.pop_dn .btn_black {float:right; width:50%; height:40px; padding-left:8px; box-sizing:border-box;}
.pop_dn .btn_white a{display:block; width:100%; height:100%; border:1px solid #bababa; border-radius:3px; border-radius:3px; background-color:#fff; color:#575757; font-size:15px; font-weight:bold; text-align:center; line-height:38px; box-sizing:border-box;}
.pop_dn .btn_black a {display:block; width:100%; height:100%; border-radius:3px; background-color:#4a4a4a; color:#fff; font-size:15px; font-weight:bold; text-align:center; line-height:38px;}

.pop_full_dn {position:relative; width:100%; height:auto; overflow:hidden; border-radius:0 0 5px 5px;}
.pop_full_dn:after {display:block; clear:both; content:"";}
.pop_full_dn div {width:50%; height:45px; line-height:45px;}
.pop_full_dn div a {display:block; width:100%; height:100%; font-size:15px; font-weight:bold; text-align:center;}
.pop_full_dn div a:active {background:rgba(0,0,0,0.05);}
.pop_full_dn .btn_white {float:left; background-color:#ececec; color:#4a4a4a;}
.pop_full_dn .btn_black {float:right; background-color:#4a4a4a; color:#fff;}

/******************** 기본알림창 css ********************/
.basic_header {position:relative; width:100%; height:auto; padding:0 15px; border-radius:5px 5px 0 0; background-color:#fff; box-sizing:border-box;}
.basic_header h2 {position:relative; width:100%; height:35px; margin:0; color:#4a4a4a; font-size:15px; text-align:center; line-height:35px;}
.basic_header .pop_line {display:block; position:absolute; left:0; bottom:0; width:100%; height:2px;}

.basic_content {position:relative; width:100%; height:auto; padding:20px 0px; background-color:#fff; color:#000; font-size:15px; text-align:center; line-height:20px; box-sizing:border-box;letter-spacing:-0.5px;}

/******************** 메시지 css ********************/
.ms_content {position:relative; width:100%; height:auto; padding:0 5px; background:#fff; box-sizing:border-box;}
.ms_content h3 {position:relative; width:100%; height:auto; padding:3px 0 0 7px; color:#4a4a4a; font-size:14px; font-weight:bold; text-align:left; line-height:35px; box-sizing:border-box;letter-spacing:-1px;}
.ms_content h3 .fc_male, .ms_content h3 .fc_female {display:inline-block; max-width:30%; height:100%; overflow:hidden; text-overflow:ellipsis; vertical-align:top; white-space:nowrap;}
@media screen and (max-width:350px) {
.ms_content h3 .fc_male, .ms_content h3 .fc_female {max-width:10%;}
}
@media screen and (min-width:351px) and (max-width:380px) {
.ms_content h3 .fc_male, .ms_content h3 .fc_female {max-width:20%;}
}
.ms_content h3 .ms_info {font-size:13px; font-weight:bold; color:#7a7a7a}

.ms_box {position:relative; width:100%; height:auto; padding:3px 0px 25px 0px; box-sizing:border-box;}
.ms_photo {position:absolute; z-index:10; top:0px; left:0px; width:71px; height:71px; padding:7px; box-sizing:border-box;}
.ms_photo .photo_clip {width:100%; height:100%; overflow:hidden; border-radius:50%; background:#fff;}
.ms_photo .photo_clip img {width:100%; height:100%;}
.ms_photo .photo_change {position:absolute; z-index:10; right:3px; bottom:3px; width:26px; height:26px; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_photo_change.png") no-repeat center center; background-size:contain;}
.ms_txt {position:relative; width:100%; height:70px; padding:0 5px 0px 76px; box-sizing:border-box;}
.ms_txt textarea {display:block; width:100%; height:100%; padding:5px 10px; border:1px solid #d5d5d5; border-radius:3px; outline:none; background-color:#f6f6f6; color:#000; font-size:14px; line-height:20px; box-sizing:border-box;resize:none!important;}
.ms_txt .ms_count {position:absolute; right:5px; bottom:-14px; width:auto; height:12px; color:#4a4a4a; font-size:12px; line-height:12px;}

.ms_content .btn_block {position:absolute; top:6px; right:10px; width:40px; height:30px; border:1px solid #d5d5d5; border-radius:3px; background-color:#fff; color:#575757; font-size:13px; font-weight:bold; text-align:center; line-height:30px; cursor:pointer; box-sizing:border-box;}
.ms_content .btn_block:active {background:#f7f7f7;}
.ms_full_txt {position:relative; width:100%; height:auto; padding:3px 5px 15px 5px; box-sizing:border-box;}
.ms_full_txt .full_txt {display:block; width:100%; height:70px; padding:5px 10px; border:1px solid #d5d5d5; border-radius:3px; outline:none; background-color:#f6f6f6; color:#000; font-size:14px; font-family:'NanumSquare'; line-height:20px; box-sizing:border-box;}

/******************** 청소년 알림창 css ********************/
.adult_wrap {position:absolute; z-index:1000; top:50%; left:50%; width:92%; height:auto; padding:15px 0; overflow:hidden; background:rgba(0,0,0,0.85); transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}
.adult_title {position:relative; width:100%; height:37px; background:#fff url("http://image.club7979.com/imgs/quick_talk/img01/img_adult_title.png") no-repeat center center; background-size:269px 24px;}

.adult_content {position:relative; width:100%; height:auto; padding:10px; color:#fff; font-size:13px; text-align:left; line-height:19px; box-sizing:border-box;letter-spacing:-0.5px;}

.adult_dn{position:relative; position:relative; width:100%; height:auto;}
.adult_dn .btn_confirm {width:25%; height:33px; margin:0 auto 5px auto; overflow:hidden; border:1px solid #bababa; border-radius:3px; background-color:#fff; line-height:33px;}
.adult_dn .btn_confirm a {display:block; width:100%; height:100%; color:#575757; font-size:14px; font-weight:bold; text-align:center;}
.adult_dn .btn_confirm a:active {background:rgba(0,0,0,0.05);}
.adult_dn .oneweek_chk {position:relative; width:220px; height:auto; margin:0 auto;}
.adult_dn .oneweek_chk label {color:#fff; font-size:14px;}

/******************** 신고하기 css ********************/
.pop_header h2 .small {font-size:14px;}

.rept_content {position:relative; width:100%; height:auto; background-color:#fff;}
.rept_content .rept_raio {position:relative; width:100%; height:auto; border-bottom:1px solid #d5d5d5;}
.rept_content label {height:40px; padding-right:25px; padding-left:15px; background:url(http://image.club7979.com/imgs/quick_talk/img01/radio01_off.png) no-repeat 92% center; background-size:15px 15px; color:#4a4a4a; font-size:14px; font-weight:bold; line-height:40px;}
.rept_content input:checked+label {background:url(http://image.club7979.com/imgs/quick_talk/img01/radio01_on.png) no-repeat 92% center; background-size:15px 15px;}
.rept_content .rept_txtbox {position:relative; width:100%; height:auto; padding:9px 15px; box-sizing:border-box;}
.rept_content .rept_textarea {position:relative; width:100%; height:50px; padding:5px; border:1px solid #d5d5d5; border-radius:3px; box-sizing:border-box;background-color:#f6f6f6; color:#4a4a4a; font-size:14px; line-height:20px;}

/******************** 리워드 알림 css ********************/
.rewrd_h2 {padding:0; text-align:center;}

.rewrd_content {position:relative; width:100%; height:auto; padding:10px; background-color:#fff; box-sizing:border-box;}
.rewrd_content table {position:relative; width:100%; height:auto; border:1px solid #d5d5d5; background-color:#f6f6f6; box-sizing:border-box;}
.rewrd_content table tr {position:relative; width:100%; height:30px; border-bottom:1px solid #d5d5d5; line-height:30px;}
.rewrd_content table tr:last-of-type {border-bottom:none;}
.rewrd_content table td {height:100%; font-size:14px; font-weight:bold;}
.rewrd_content table .first_td {width:30%; border-right:1px solid #d5d5d5; color:#4a4a4a; text-align:center; box-sizing:border-box;}
.rewrd_content table .last_td {width:70%; padding-right:10px; color:#fb1d37; text-align:right; box-sizing:border-box;}
.rewrd_content p {width:100%; height:30px; padding-top:5px; color:#4a4a4a; font-size:17px; font-weight:bold; text-align:center; line-height:30px;}

.pop_dn .btn_rewrd {width:50%; height:40px; margin:0 auto; overflow:hidden; border-radius:3px; background-color:#4a4a4a; line-height:40px;}
.pop_dn .btn_rewrd a {display:block; width:100%; height:100%; color:#fff; font-size:15px; font-weight:bold; text-align:center;}

/******************** 영상채팅 신청 css ********************/
.pn_wrap {width:320px;}
@media screen and (max-width:350px) {
.pn_wrap {width:290px;}
}
.ta_left {text-align:left;}

.pvr_content {position:relative; width:100%; height:auto; background-color:#fff;}
.pvr_content .pvr_jewel {position:relative; width:100%; height:33px; padding:0 125px 0 15px; overflow:hidden; color:#4a4a4a; font-size:14px; font-weight:bold; text-overflow:ellipsis; line-height:32px; white-space:nowrap; box-sizing:border-box;}
.pvr_content .my_jewel {position:absolute; top:0; right:10px; width:auto; height:100%; padding-left:18px; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_jewel.png") left center no-repeat; background-size:16px 14px; line-height:32px;}
.pvr_content .my_jewel .color_jewel {color:#f97895;}
.pvr_content .pop_line {position:absolute; left:0px; bottom:0px; width:100%; height:1px;}

.pvr_content .photo_wrap {position:absolute; top:12px; left:10px; width:75px; height:75px; padding:5px; box-sizing:border-box;}
.pvr_content .photo_clip {width:100%; height:100%; overflow:hidden; border-radius:100%;}
.pvr_content .photo_clip img {display:block; width:100%; height:100%;}

.pvr_box {position:relative; width:100%; height:auto; padding:12px 10px 16px 10px; box-sizing:border-box;}
.pvr_box .pvr_info {position:relative; width:100%; height:75px; padding:6px 0 6px 80px; font-size:14px; line-height:19px; box-sizing:border-box;}
.pvr_box .fc_male, .pvr_box .fc_female {width:100%; overflow:hidden; font-weight:bold; text-overflow:ellipsis; white-space:nowrap;}
.pvr_box .pvr_loca {width:100%; padding-left:10px; overflow:hidden; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_main_loca.png") no-repeat left center; background-size:8px 11px; color:#535359; text-overflow:ellipsis; white-space:nowrap; box-sizing:border-box;}
.pvr_box .pvr_txt {width:100%; padding-top:5px; overflow:hidden; color:#000; text-overflow:ellipsis; white-space:nowrap;}

.pn_box {position:relative; width:100%; height:auto; padding:10px 0; text-align:center; box-sizing:border-box;}
.pn_box .photo_wrap {display:inline-block; position:relative; top:0; left:0; width:70px; padding:5px 5px 5px 0; vertical-align:middle;}
.pn_box .pn_info {display:inline-block; position:relative; width:auto; height:75px; padding:16px 0; font-size:15px; line-height:20px; vertical-align:middle; box-sizing:border-box;}
.pn_box .fc_male, .pn_box .fc_female {font-weight:bold;}
.pn_box .pn_loca {width:auto; padding:2px 0 0 10px; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_main_loca.png") no-repeat left center; background-size:8px 11px; color:#4a4a4a;}
.pn_box .pn_notice {position:relative; width:100%; height:33px; color:#4a4a4a; font-size:18px; font-weight:bold; line-height:33px;}
.pn_box .pn_count {position:relative; width:100%; height:33px; padding-bottom:5px; color:#fa4645; font-size:26px; font-weight:bold; line-height:33px;}
.pn_box .pn_auto {position:relative; width:100%; height:25px; color:#000; font-size:14px; line-height:25px;}

.pop_full_dn .pn_btn {width:100%;}
.pn_dn {position:relative; width:100%; height:auto; padding:0 13px 15px 13px; overflow:hidden; border-radius:0 0 5px 5px; background:#fff; box-sizing:border-box;}
.pn_dn:after {display:block; clear:both; content:"";}
.pn_dn > div {float:left; width:33.3333%; height:auto; padding-top:60px; color:#707070; font-size:15px; font-weight:bold; text-align:center; line-height:20px; cursor:pointer;}
.pn_dn .pn_call {background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_native_call.png") no-repeat center top; background-size:55px 55px;}
.pn_dn .pn_block {background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_native_block.png") no-repeat center top; background-size:55px 55px;}
.pn_dn .pn_refuse {background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_native_refuse.png") no-repeat center top; background-size:55px 55px;}

/******************** 사진등록 레이어 css ********************/
.photo_layer {position:fixed; z-index:20; top:50%; left:50%; width:240px; height:150px; margin-top:-120px; margin-left:-120px; overflow:hidden; border-radius:5px; background-color:#5d485b; box-shadow:2px 2px 8px rgba(0,0,0,0.5);}
.photo_layer > div {position:relative; width:100%; height:50px; line-height:50px;}
.photo_layer > div:active {background:rgba(0,0,0,0.05);}
.photo_layer a {display:block; width:100%; height:100%; padding-left:57px; color:#fff; font-size:15px; font-weight:bold; box-sizing:border-box;}
.photo_layer .album a {border-bottom:1px solid #6f5a6d; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_photo_regi01.png") no-repeat 20px center; background-size:20px 21px;}
.photo_layer .camera a {border-bottom:1px solid #6f5a6d; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_photo_regi02.png") no-repeat 18px center; background-size:25px 19px;}
.photo_layer .ava_female a{background:url("http://image.club7979.com/imgs/quick_talk/img01/img_ava_female.png") no-repeat 17px center; background-size:23px 23px;}
.photo_layer .ava_male a{background:url("http://image.club7979.com/imgs/quick_talk/img01/img_ava_male.png") no-repeat 17px center; background-size:23px 23px;}

/******************** 영상통화 레이어 css ********************/
.female_layer {position:absolute; z-index:10; top:50%; right:93px; width:160px; height:auto; margin-top:-75px; overflow:hidden; border-radius:5px; background-color:#5d485b; box-shadow:2px 2px 2px rgba(0,0,0,0.3);}
.female_layer > div {position:relative; width:100%; height:46px; border-bottom:1px solid #6f5a6d; line-height:46px;}
.female_layer > div > a {display:block; width:100%; height:100%; padding-left:60px; color:#fff; font-size:15px; font-weight:bold; box-sizing:border-box;}
.female_layer > div > a:active {background:rgba(0,0,0,0.05);}
.female_layer .layer_video {background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_layer_video2.png") no-repeat 21px center; background-size:22px 22px;}
.female_layer .layer_reque {background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_layer_reque2.png") no-repeat 23px center; background-size:20px 28px;}
.female_layer .layer_clse {border-bottom:0 none; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_layer_clse2.png") no-repeat 27px center; background-size:12px 12px;}