@charset "utf-8";
body {background-color:#f6f6f6;}

/******************** 이용권 구매 ********************/
.ticket_title {position:relative; width:100%; height:80px; background:#fff url("http://image.club7979.com/imgs/quick_talk/img01/img_ticket_title.png") no-repeat center center; background-size:275px; 51px;}
.ticket_txt {position:relative; width:100%; height:auto; background-color:#e4e7ff;}
.ticket_txt .ticket_expl {width:100%; height:130px; background:url("http://image.club7979.com/imgs/quick_talk/img01/img_ticket_txt.png") no-repeat center center; background-size:316px; 105px;}
.ticket_txt .ticket_buy {width:100%; height:120px;}
.ticket_txt .ticket_buy a {display:block; width:100%; height:100%; background:url("http://image.club7979.com/imgs/quick_talk/img01/img_ticket.png") no-repeat center center; background-size:305px; 108px;}
@keyframes push {
50% {transform:scale(0.95);}
100% {transform:scale(1);}
}
@-webkit-keyframes push {
50% {-webkit-transform:scale(0.95);}
100% {-webkit-transform:scale(1);}
}
@-ms-keyframes push {
50% {-ms-transform:scale(0.95);}
100% {-ms-transform:scale(1);}
}
@-moz-keyframes push {
50% {-moz-transform:scale(0.95);}
100% {-moz-transform:scale(1);}
}
@-o-keyframes push {
50% {-o-transform:scale(0.95);}
100% {-o-transform:scale(1);}
}
.ticket_txt .ticket_buy a:active {animation:push 0.2s ease-in-out 1;-webkit-animation:push 0.2s ease-in-out 1; -o-animation:push 0.2s ease-in-out 1; -moz-animation:push 0.2s ease-in-out 1; -ms-animation:push 0.2s ease-in-out 1;}
.mycoin {position:relative; width:100%; height:auto; padding:17px 10px; box-sizing:border-box;}
.mycoin .mycoin_bg {position:relative; width:100%; height:auto; padding:13px 0px; border:1px solid #d5d5d5; border-radius:5px; background-color:#fff; font-size:15px; font-weight:bold; text-align:center; line-height:23px; box-sizing:border-box;}
.mycoin .mycoin_fix {display:inline-block; width:100px; text-align:left; vertical-align:middle;}
.mycoin .mycoin_flex {display:inline-block; width:100px; text-align:right; vertical-align:middle;}
.ticket_btn {position:relative; width:100%; height:auto; padding:0px 10px 10px 10px; box-sizing:border-box;}
.ticket_btn:after {display:block; clear:both; content:"";}
.ticket_btn .btn_cancle {float:left; width:46%; height:40px; border-radius:5px; background-color:#cecece; line-height:40px;}
.ticket_btn .btn_coin {float:right; width:46%; height:40px; border-radius:5px; background-color:#7c86e9; line-height:40px;}
.ticket_btn a {display:block; width:100%; height:100%; overflow:hidden; font-size:16px; font-weight:bold; text-align:center;}
.ticket_btn a:active {background:rgba(0,0,0,0.05);}
.ticket_btn .btn_cancle a {color:#4a4a4a;}
.ticket_btn .btn_coin a {color:#fff;}

/******************** 코인충전 ********************/
h2 {position:relative; width:100%; height:40px; padding:0 20px; color:#777777; font-size:14px; font-weight:bold; line-height:40px; box-sizing:border-box;}
.pay_wrap {position:relative; width:100%; height:auto; padding:0 20px; box-sizing:border-box;}
.pay_wrap .pay_u {position:relative; width:100%; height:auto; padding:0 10px; border:1px solid #d5d5d5; border-radius:5px; background-color:#fff; box-sizing:border-box;}
.pay_wrap .radio_l {position:relative; width:100%; height:auto; border-bottom:1px solid #efefef;}
.pay_wrap .radio_l:last-of-type {border-bottom:none;}
.pay_wrap label {height:37px; color:#4a4a4a; font-size:14px; font-weight:bold; text-align:right; line-height:37px;}
@media screen and (max-width:350px){
	.pay_wrap label {font-size:13px;}
}
.pay_wrap label .label_coin{position:absolute; top:0; left:25px; width:auto; height:100%;}
.pay_wrap .pay_l {position:relative; width:100%; height:auto; border-bottom:1px solid #efefef; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_pay_more.png") no-repeat right center; background-size:9px 15px;}
.pay_wrap .pay_l:last-of-type {border-bottom:none;}
.pay_wrap .pay_l a {display:block; width:100%; height:45px; padding-left:40px; color:#4a4a4a; font-size:14px; font-weight:bold; line-height:45px; box-sizing:border-box;}
.pay_wrap .pay01 {background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_pay01.png") no-repeat 5px center; background-size:21px 24px;}


/******************** 보석구매 ********************/
.fc_red {color:#ff5548; font-weight:bold;}
.fc_purple {color:#5461d7}
.jewel_padd {padding:0 10px;}
.jewel_wrap {position:relative; width:100%; height:auto; padding:15px 10px; background-color:#fff; box-sizing:border-box;}
.jewel_wrap .jewel_title {position:absolute; top:15px; left:10px; width:63px; height:38px; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_pay_jewel.png") no-repeat center center; background-size:63px 24px;}
.jewel_wrap .jewel_expl {position:relative; width:100%; min-height:38px; padding-left:78px; color:#535359; font-size:13px; line-height:19px; box-sizing:border-box;}
.jewel_wrap .point_expl {position:relative; width:100%; height:auto; padding:5px 3px 0 3px; color:#535359; font-size:13px; line-height:22px; box-sizing:border-box;}
.jewel_wrap .btn_more {padding:0 7px; cursor:pointer;}
.jewel_wrap .point_more {display:none; width:100%; height:auto; padding:5px 3px 0 3px; color:#535359; font-size:13px; line-height:18px; box-sizing:border-box;}
.jewel_txt {position:absolute; top:0; left:25px; letter-spacing:-1px;}