@charset "utf-8";
.fc_red {color:#ff5548;}
/******************** 프로필 영역 ********************/
.profile_wrap {position:relative; z-index:100; width:100%; height:auto; padding:15px 0 12px 0;}
.profile_wrap p {position:relative; width:100%; padding-top:12px; color:#4a4a4a; font-size:13px; text-align:center; line-height:13px;}

/* 사진등록 */
.photo_wrap {position:absolute; z-index:10; top:18px; left:16px; width:65px; height:65px; cursor:pointer;}
.photo_wrap .photo_clip {width:100%; height:100%; overflow:hidden; border-radius:100%;}
.photo_wrap .photo_clip img {display:block; width:100%; height:100%;}
.photo_wrap .photo_change {position:absolute; z-index:10; right:-5px; bottom:-5px; width:26px; height:26px; background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_photo_change.png") no-repeat center center; background-size:contain;}
.photo_wrap .aprov_layer {position:absolute; z-index:10; top:2px; left:2px; width:61px; height:61px; border-radius:100%; background:rgba(0,0,0,0.5); color:#fff; font-size:14px; font-weight:bold; text-align:center; line-height:59px;}

/* 프로필 입력 */
.input_wrap {position:relative; width:100%; height:76px; padding:0 16px 0 97px; box-sizing:border-box;}
.input_wrap .input_line {position:relative; width:100%; height:35px;}
.input_wrap .input_line:first-of-type {margin-bottom:6px;}
.input_wrap .input_line input[type="text"] {display:block; width:100%; height:100%; padding:7px; border:1px solid #d5d5d5; border-radius:0px; outline:none; background-color:#f6f6f6; font-size:16px; font-weight:bold; line-height:16px; box-sizing:border-box;}
.input_wrap .input_line select {display:block; float:left; width:32%; height:100%; margin-right:2%; padding:0 15px 0 8px; border:1px solid #d5d5d5; border-radius:0px; outline:none; background:#f6f6f6 url("http://image.club7979.com/imgs/quick_talk/img01/ico_main_slct.png") no-repeat 90% center; background-size:8px 5px; color:#787878; font-size:15px; font-weight:bold; line-height:30px; box-sizing:border-box;}
.input_wrap .input_line select:last-of-type {margin-right:0;}

/******************** 영상채팅 영역 ********************/
.video_wrap {position:relative; width:100%; height:auto; padding:0px 16px 13px 16px; box-sizing:border-box;}
.video_wrap .video_bg {position:relative; width:100%; height:auto; padding:35px 12px 7px 12px; overflow:hidden; border:1px solid #7c86e9; border-radius:3px; box-sizing:border-box;}
.video_wrap h2 {position:absolute; top:0; left:0; width:100%; height:30px; padding-left:10px; color:#fff; font-size:16px; line-height:30px; box-sizing:border-box;}
.radio_lst01 label {font-size:15px; font-weight:bold;}

/******************** 글쓰기 영역 ********************/
.txt_wrap {position:relative; width:100%; height:auto; padding:13px 16px; border-top:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; background-color:#e7e7e7; box-sizing:border-box;}
@media screen and (max-width:350px) {
.txt_wrap {padding:13px 10px;}
}
.txt_wrap .txt_box {position:relative; width:100%; height:95px; padding:8px 10px; border:1px solid #d3d3d3; border-radius:3px; background-color:#fff; box-sizing:border-box;}
.txt_wrap textarea {width:100%; height:100%; border:none; outline:none; background-color:#fff; box-shadow:none; color:#4a4a4a; font-size:14px; line-height:21px; resize:none;appearance:none;-webkit-appearance:none; -moz-appearance:none;}

/* 컬러 픽커 */
.color_picker {position:relative; width:100%; height:auto; padding-top:10px;}
.color_picker ul {position:relative; width:100%; height:auto; text-align:center;}
.color_picker li {display:inline-block; position:relative; vertical-align:middle;}
.color_picker .cp_l {width:17px; height:18px; margin-left:3px; background-repeat:no-repeat; background-position:center; background-size:17px 18px;}
@media screen and (max-width:350px) {
.color_picker .cp_l {margin-left:2px;}
}
.color_picker .cp_color1 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color01.png");}
.color_picker .cp_color2 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color02.png");}
.color_picker .cp_color3 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color03.png");}
.color_picker .cp_color4 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color04.png");}
.color_picker .cp_color5 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color05.png");}
.color_picker .cp_color6 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color06.png");}
.color_picker .cp_color7 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color07.png");}
.color_picker .cp_color8 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color08.png");}
.color_picker .cp_color9 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color09.png");}
.color_picker .cp_color10 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color10.png");}
.color_picker .cp_color11 {background-image:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color11.png");}
.color_picker .cp_radio {display:block; position:absolute; z-index:10; top:0; left:0; width:100%; height:100%; opacity:0;}
.color_picker .cp_label {display:block; position:absolute; z-index:10; top:0; left:0; width:100%; height:100%; background:transparent;}
.color_picker .cp_radio:checked + .cp_label {background:url("http://image.club7979.com/imgs/quick_talk/img01/ico_color_chk.png") no-repeat center center; background-size:10px 7px;}

/* 버튼 박스 */
.btn_box {position:relative; width:100%; height:40px; padding:15px 0 5px 0; text-align:center; line-height:40px;}
.btn_box .btn_wt_1 {display:inline-block; width:130px; height:100%; border-radius:3px; color:#fff; font-size:16px; font-weight:bold; text-align:center; cursor:pointer;}
.btn_box .btn_wt_1:active {background-color:#464646;}
.btn_box .btn_wt_3 {display:inline-block; width:95px; height:100%; margin-left:2px; border-radius:3px; color:#fff; font-size:16px; font-weight:bold; text-align:center; cursor:pointer;}
.btn_box .btn_wt_3:active {background-color:#464646;}
.btn_box .bg_dark_purple {margin-left:0px; background-color:#60649e;}
.btn_box .bg_dark_purple:active {background-color:#565a8e;}

/******************** 공지 영역 ********************/
.notice_wrap {position:relative; width:100%; height:auto; padding:13px 16px; box-sizing:border-box;}
.notice_wrap .wt_notice {width:100%; height:auto; padding:7px 10px; border:1px solid #d4e6e8; background-color:#f3feff; color:#4a4a4a; font-size:13px; line-height:17px; box-sizing:border-box;}